
body{
	background-color:grey;
}
#canvas{
	position:absolute;
	left:120px;
	right:120px;
	top:60px;
	bottom:30px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	background-color:black;
	z-index:5;
}
#bandeau_top{
	position:absolute;
	left:0;
	right:0;
	top:0;
	margin:0;
	background-color:#B171FF;
	height: 60px;
	box-shadow: 0 0 6px #000000 inset;
}
#bandeau_left{
	position:absolute;
	left:0;
	top:60px;
	bottom:30px;
	background-color:#717AFF;
	width : 120px;
}
#bandeau_right{
	position:absolute;
	right:0;
	top:60px;
	bottom:30px;
	background-color:#FF7571;
	width:120px;
}
#bandeau_down{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:#75FF71;
	height:30px;
}
#bandeau_top canvas{
	z-index:15;
	position : relative;
	display:inline-block;
	margin:5px;
}
#bandeau_top canvas:hover{
	z-index:15;
	position : relative;
	display:inline-block;
	margin:5px;
	box-shadow: 0 0 4px #000000 ;
}
.clicked{
	box-shadow: 0 0 4px 2px #000000 ;
}
